@import './variables.scss';
@import '~/bootstrap/scss/bootstrap.scss';

textarea.form-control {
  height: 100%;
  border: none;
  resize: none;
  &:focus {
    box-shadow: none;
  }
}

pre, :not(pre) > code {
  background-color: hsl(0, 0%, 15%);
  color: #E83E8C;
  font-size: 75%;
}
pre {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}
:not(pre) > code {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.1rem;
  border-radius: 0.25rem;
}

@include media-breakpoint-up(md) {
  .col-input {
    border-right: 1px solid $gray-200;
    min-height: 88.5vh;
    flex: 1 1 auto;
  }
  .col-preview {
    min-height: 88.5vh;
    flex: 1 1 auto;
  }
}
@include media-breakpoint-down(sm) {
  .col-input {
    border-bottom: 1px solid $gray-200;
    min-height: 45vh;
  }
  .col-preview {
    min-height: 45vh;
  }
}